#composeMsg {
    width: 90%;
    padding: 5px;
}

.composeMsg__input {
    resize: none;
}

.composeMsg__sendButton {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}