.app {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  --light-gray: #e6ecf0;
  --dark-gray: #6c757d;
  --sidebar-width: 400px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus {
  box-shadow: none;
}

button:focus {
  border: none;
}

.pointer {
  cursor: pointer;
}
