.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  align-items: center;
  transform: translateZ(0);
}

.chat-header-container {
  position: fixed;
  display: flex;
  top: 0;
  height: 55px;
  width: 100%;
  padding: 0 5% 0 5%;
  cursor: default;
  border-bottom: 1px solid var(--light-gray);
  background: white;
  align-items: center;
}
