.chat-card {
  --margin: 5px;
  display: flex;
  align-items: center;
  margin: var(--margin);
  width: calc(var(--sidebar-width) - var(--margin) * 2);
  max-width: calc(var(--sidebar-width) - var(--margin) * 2);
  height: 65px;
  color: black;
}

.chat-card:hover {
  background-color: var(--light-gray);
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 100%;
}

.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid gray;
}

.chat-name {
  font-weight: 500;
}

.chat-preview {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}

.chat-preview-span {
  white-space: nowrap;
}
