.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  align-items: center;
  border-right: 1px solid var(--light-gray);
  transform: translateZ(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  padding: 0 15px 0 25px;
  cursor: default;
}
