.text-bubble {
  max-width: 75%;
  width: fit-content;
  height: fit-content;
  padding: 4px 15px 4px 15px;
  margin-bottom: 2px;
}

.self {
  background-color: #ffc107;
  color: white;
  align-self: flex-end;
}

.other {
  background-color: var(--light-gray);
  align-self: flex-start;
}

.text-bubble-message {
  white-space: pre-wrap;
}
