.textBubble {
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 4px 15px 4px 15px;
  margin-bottom: 2px;
}

.self,
.chatBlock > .self {
  background-color: #ffc107;
  color: white;
}

.other,
.chatBlock > .other {
  background-color: var(--light-gray);
}
